<div class="profile">
  <img
    class="profile-icon"
    src="<%=`https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png`%>"
  />
  <div class="profile-name"><%=user.username.toUpperCase()%></div>
</div>
<div>
  <% for (const [k,v] of Object.entries(user)) { %>
  <ul>
    <li><%= k %> :<%= v %></li>
  </ul>
  <%} %>
</div>
