<!-- <div>
    <p> navigation here maybe?</p>
    <p> see emojis you uploaded</p>
    <div class="login-btn">


    <a href=`http://localhost:5000/logout`>
      LOGOUT
      </a>
      </div>
    </button>
  </div> -->
<div class="navbar">
  <ul class="nav-ul">
    <li class="nav-li">
      <a href="http://localhost:5000/"
        ><img class="nav-icon" src="../img/heart.png"
      /></a>
    </li>
    <li class="nav-li">
      <a href="http://localhost:5000/create"
        ><img class="nav-icon" src="../img/star.png"
      /></a>
    </li>
    <li class="nav-li">
      <a href="http://localhost:5000/browse"
        ><img class="nav-icon" src="../img/search.png"
      /></a>
    </li>
    <li class="nav-li">
      <a href="http://localhost:5000/logout"
        ><img class="nav-icon" src="../img/logout.png"
      /></a>
    </li>
  </ul>
</div>
