<style>
  /* profile */
  .profile {
    color: white;
    text-align: center;
    overflow: hidden;
  }
  .profile-div {
    height: 100%;
    width: 100%;
    position: relative;

  }
  .profile-icon {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    transition: transform .2s;
  }

  .profile-name {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #00000080;
  }

  .profile-icon:hover {
    color: #7289da;
    /* filter: grayscale(50%); */
    transform: scale(1.2);
  }


</style>

<div class="profile" id="profile"></div>

<script>
  window.addEventListener('DOMContentLoaded', async () => {
    const response = await fetch('/profile').catch(
      () => null
    );
    const data = await response.json();
    if (!response) {
      document.getElementById('profile').textContent = 'please login';
    } else {
      let profile = document.getElementById('profile');

      let profileDiv = document.createElement('div');
      profileDiv.setAttribute('class', 'profile-div');
      profile.appendChild(profileDiv);

      let pfp = document.createElement('img');
      pfp.setAttribute('class', 'profile-icon');
      pfp.src = `https://cdn.discordapp.com/avatars/${data.user.id}/${data.user.avatar}.png`;
      profileDiv.appendChild(pfp);

      let username = document.createElement('div');
      username.setAttribute('class', 'profile-name');
      username.textContent = `${data.user.username}`;
      profileDiv.appendChild(username);
    }
  });
</script>
