<script>
  window.addEventListener('DOMContentLoaded', async () => {

    const response = await fetch('http://localhost:5000/profile').catch(() => null);
    const data = await response.json();
    if (!response){
      document.getElementById("profile").textContent = 'please login';
    } else {

    let profile = document.getElementById('profile');

    let profileDiv = document.createElement('div');
    profileDiv.setAttribute('class', 'profile-div');
    profile.appendChild(profileDiv);

    let pfp = document.createElement('img');
    pfp.setAttribute('class', 'profile-icon');
    pfp.src = `https://cdn.discordapp.com/avatars/${data.user.id}/${data.user.avatar}.png`;
    profileDiv.appendChild(pfp);

    let username = document.createElement('div');
    username.setAttribute('class', 'profile-name');
    username.textContent = `${data.user.username}`;
    profileDiv.appendChild(username)
      }

  });
</script>

<div class="profile" id="profile"></div>

