<style>
    #search{
        /* border-bottom: 2px solid #dedede; */
        margin: 0 auto;
        height: 10px;
        width: 100%;
        background-color: transparent;
        margin-top: 10px;

    }

</style>
<div id="search">
    <!-- <script async src="https://cse.google.com/cse.js?cx=b8a39ea05c62845af"></script>
    <div class="gcse-search"></div> -->
</div>

<!-- https://programmablesearchengine.google.com/cse/lookandfeel/customize?cx=b8a39ea05c62845af -->