<div class="main-wrapper">
  <% for (const guild in emojisByGuild){ %>
  <div class="main-guild-emoji">
    <div class="main-guild-emoji-name"><%=guild%></div>
    <% if (!emojisByGuild[guild]){ %>
    <div>Upload/Browse the Library to Add Some Emoji</div>
    <%} else {%> <% emojisByGuild[guild].forEach(emoji =>{ %>

    <img class="main-guild-emoji-img emoji-btn" src="<%=emoji.url %>" alt="<%=emoji.name%>" />

    <%})%> <%}%>
  </div>
  <%}%>
</div>
