<style>
.container-light{
    height: 100%;
}
.info{
    display: block flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 100%;

}
.thingsgohere{
    margin-top: 50%;
}
</style>

<div class="container-light">
    <div class="info">
<div class="thingsgohere">
        <div>
NODE, EXPRESS, JS, SEQUELIZE, POSTGRES, JQUERY</div>

<div>
APIs: DISCORD API, EMOJIGG API, CLOUDINARY API</div>
<div>
ASSETS: FLATICON.COM</div>
</div>
</div>
</div>