<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UwuMoji</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="grid-container">
      <div class="layout-header">
        <span class="title">UWUMOJI: DISCORD EMOJI MANAGER</span>
      </div>
      <div class="layout-panel">
        <span class="credits">Jenny Feng 2020</span>
      </div>
      <div class="profile"> </div>
      <div class="guilds"></div>
      <div class="main scrollbar"><%- body -%></div>
    </div>
  </body>
</html>

<!-- <- include('partials/#') %> -->
