<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UwuMoji</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="grid-container">
      <div class="layout-header">
        <span id = "title" class="title">UWUMOJI: DISCORD EMOJI MANAGER</span>
      </div>
      <div class="layout-panel">
        <p class="credits">Jenny Feng 2020 <br/>
          made with node, express, sequelize <br/>
          APIs: Discord, Emojigg, ...

        </p>
      </div>
      <div class="profile"><%- include('./partials/profile') %> </div>
      <div class="guilds"><%- include('./partials/guilds') %></div>
      <div class="main scrollbar"><%- body -%></div>
    </div>
  </body>
</html>

<!-- <- include('partials/#') %> -->
