<div class="login">

<a href=<%=`https://discord.com/api/oauth2/authorize?client_id=${process.env.CLIENT_ID}&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fcallback&response_type=code&scope=identify%20email%20guilds`%> class="login-btn">
LOGIN
</a>


</div>

