<script>


//if already logged in, just redirect

</script>

<div class="login">
 
<a class="btn log-btn" href=<%=`https://discord.com/api/oauth2/authorize?client_id=${process.env.CLIENT_ID}&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fcallback&response_type=code&scope=identify%20email%20guilds`%> id="login">
<img class = "login-icon" src="../img/enter.png">
</a>
</div>

