@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #202225;
  color: white;
}
/* font-family: 'Nerko One', cursive; */
/* font-family: 'Source Sans Pro', sans-serif; */

/* layout */
.grid-container {
  height: 98vh;
  width: 98vw;
  display: grid;
  grid-template-columns: 0.1fr 0.2fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'layout-header layout-header layout-header'
    'layout-panel profile main'
    'layout-panel guilds main';
}

.layout-header {
  grid-area: layout-header;
  color: white;
  font-size: 20px;
  background-color: #202225;
  padding: 0.5% 0 0 8%;
  /* border: 5px solid black; */
}
.layout-panel {
  grid-area: layout-panel;
  background-color: #202225;
  align-self: end;
  text-align: center;
  /* border: 5px solid black; */
}

.profile {
  grid-area: profile;
  background-color: #2f3136;

  /* border: 5px solid black; */
}
.guilds {
  grid-area: guilds;
  background-color: #2f3136;

  /* border: 5px solid black; */
}
.main {
  grid-area: main;
  background-color: #36393f;
  overflow: auto;

/* border: 5px solid black; */
}


/* main page stuff */
.title{
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.credits{
  text-transform: uppercase;
  text-align: right;
  padding: 0 10% 0 0;
}


/* profile */

.profile-icon {
  border-radius: 50%;
  margin: 10px;
  box-shadow: 4px 4px 10px 4px #000000;
}
.profile {
  color: white;
  text-align: center;
  position: relative;
}
.profile-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  width: 100px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-shadow: 2px 2px 4px #000000;
}

/* guilds */

.guild {
  color: white;
  text-align: center;
  position: relative;

}

#guild-ul{
  list-style-type:none;
  display: block;

}

#guild-li{
margin: 20px;
}


.guild-icon {
  border-radius: 50%;
  /* border: 3px solid white; */
  /* box-shadow: 4px 4px 10px 4px #000000; */
  filter: opacity(70%);
  background-color: white;

}

.guild-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 100px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-shadow: 2px 2px 4px #000000;


}



/* login */
.login{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50%;
  border-radius: 10px;
  background-color: #dedede;
}


.log-btn{
  background-color: #7289da;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}


.log-btn::before, .log-btn::after {
  content: '';
  position: absolute;
  width: 100%;
	height: 100%;
  bottom: 0;
	left: 0;
	z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.log-btn:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.log-btn:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.log-btn:hover::after, .log-btn:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}









.login {

}

.login-btn {
  position: relative;
  width: 100px;

  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 10px;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #dddddd, #ffffff);
  transition: 0.5s;
}

.login-btn:hover {
  background-color:#7289da;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* EMOJI */
.emoji {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 3px solid white;
  margin: 5px;
}

.emoji-library {
  overflow: auto;
}

.emoji-btn {
  border-radius: 10px;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  border: none;
}
.emoji-btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #dddddd, #7289da);
}

.emoji-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border: none;
}

.emoji-btn:focus {
  background-color: #7289da;
}

/* random */

.uppercase {
  text-transform: uppercase;
}


/* scrollbar */
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
	background-color:#36393f;
	border-radius: 5px;
}

.scrollbar::-webkit-scrollbar
{
	width: 20px;
	background-color: #36393f;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.10, #7289da05),
									   color-stop(0.42, #7289da50),
									   color-stop(0.66, #7289da90));
}





.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}



