@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #202225;
  color: white;
}

button {
  outline: none;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}



/* font-family: 'Nerko One', cursive; */
/* font-family: 'Source Sans Pro', sans-serif; */

/* layout */
.grid-container {
  height: 98vh;
  width: 98vw;
  display: grid;
  grid-template-columns: 0.08fr 0.2fr 1fr 0.08fr;
  grid-template-rows: 0.1fr 0.4fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'layout-header layout-header layout-header search'
    'layout-panel profile main navbar'
    'layout-panel guilds main navbar';
}

.layout-header {
  grid-area: layout-header;
  color: white;
  font-size: 20px;
  background-color: #202225;
  padding: 0.5% 0 0 8%;
}
.layout-panel {
  grid-area: layout-panel;
  background-color: #202225;
  align-self: end;
  text-align: center;
}

.search {
  grid-area: search;
}
.profile {
  grid-area: profile;
  background-color: #2f3136;
  border-top-left-radius: 10px;
}
.guilds {
  grid-area: guilds;
  background-color: #2f3136;
  overflow: auto;
}
.main {
  grid-area: main;
  background-color: #36393f;
  overflow: auto;
  border-top-right-radius: 10px;
  overflow: auto;
}

.navbar {
  grid-area: navbar;
  background-color: #202225;
}

button > * {
  vertical-align: middle;
}

/*  for any emoji gallery */
.emoji-gallery {
  display: block flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  text-align: center;
}

/*  uniform emoji sizes */
.emoji {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 3px solid white;
  margin: 5px;
}

/* buttons effects */
.btn {
  border-radius: 10px;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  border: none;
}
.btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #dddddd, #7289da);
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border: none;
}

.btn:focus {
  background-color: #7289da;
}


.hover {
  list-style: none;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;

}
.hover li {
  position: relative;
  margin: 5px;
}
.hover li a,
.hover li a img {
  display: block;
  position: relative;
  border-radius: 10px;
}
.hover li a {
  overflow: hidden;
}
.hover li a div {
  position: absolute;
  background: #333;
  background: rgba(75, 75, 75, 0.7);
  width: 100%;
  height: 100%;
}
.hover li a div span {
  display: block;
  padding: 10px 0;
  margin: 40px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
}


.hover li button,
.hover li button img {
  display: block;
  position: relative;
  border-radius: 10px;
}
.hover li button {
  overflow: hidden;
}
.hover li button div {
  position: absolute;
  background: #333;
  background: rgba(75, 75, 75, 0.7);
  width: 100%;
  height: 100%;
}
.hover li button div span {
  display: flex;
  justify-content:center;
  align-items:center;
  padding: 10px 0;
  margin: 40px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
}


.addemoji{
  height: 20px;
  width: 20px;
  margin: 5px;

}









/*  different wrappers/containers */
.container-light {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
  color: black;
}

.container-gradient {
  color: black;
  background-color: #dedede50;
  margin: 30px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.container-gradient:hover {
  background: rgb(114, 137, 218);
  background: linear-gradient(
    340deg,
    rgba(114, 137, 218, 1) 0%,
    rgba(222, 222, 222, 1) 49%
  );
}

/*  text styling */
.title {
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* scrollbar */
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: #36393f;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
  background-color: #36393f;
  border-top-right-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.1, #7289da05),
    color-stop(0.42, #7289da50),
    color-stop(0.66, #7289da90)
  );
}

/* User Uploads */
.user-emoji-lib {
  margin: 3%;
  display: block flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
.user-emoji {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  margin: 10px;
}

/* error pages */

.error {
margin: 0 auto;
  text-align: center;
  color: white;
  width: 80%;
  height: 80%;
margin-top: 10%;
  padding: 10px;


}
.err-text {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

.err-img {
  height: 200px;
  width: 200px;
}




.credits {
  text-transform: uppercase;
  text-align: right;
  padding: 0 10% 0 0;
}

.credits-icon {
  height: 30px;
  width: 30px;
}

.credits-ul {
  list-style-type: none;
  display: block;
}
.credits-li {
  margin: 10px 0 10px 0;
}





