@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #23272a;
    color: white;
}
/* font-family: 'Nerko One', cursive; */
/* font-family: 'Source Sans Pro', sans-serif; */


/* layout */
.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.2fr 30fr;
  gap: 0px 0px;
  grid-template-areas:
    'layout-header layout-header'
    'layout-panel main';
}
.layout-header {
  grid-area: layout-header;
  color: white;
  font-size: 20px;
  background-color: #23272a;
  /* border: 5px solid black; */

}
.layout-panel {
  grid-area: layout-panel;
  background-color: #23272a;
  align-self: end;
  text-align: center;
  /* border: 5px solid black; */

}
.main {
  grid-area: main;
  background-color:#2c2f33;
}

/* profile */

.profile-icon{
    border-radius: 50%;
    margin: 10px;
    box-shadow: 4px 4px 10px 4px #000000;
}
.profile{
    color:white;
    text-align:center;
    position: relative;
}
.profile-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    width: 100px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px #000000;

}

/* guilds */
.guild-icon{
    border-radius: 50%;
    border: 3px solid white;
    margin: 10px;
    box-shadow: 4px 4px 10px 4px #000000;
    filter: opacity(50%);
}
.guild{
    color:white;
    text-align:center;
    position: relative;

}

.guild-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 100px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px #000000;

}


/* login */
.login {
    margin: 0 auto;
    width:40%;
    height: 50%;
 margin-top: 5%;
    border-radius: 10px;
    background-color: white;
}

.btn {
    margin: 0 auto;
    color: black;
    margin-left: 20%;
    margin-top: 20%;
    position: relative;
    display: inline-block;
    width:400px;
    height: 10%;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-weight:900;
    font-size:30px;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
  background: rgb(114, 137, 218);
  background: -moz-linear-gradient(left,  rgba(114, 137, 218,1 ) 0%, rgba(153, 170, 181, 1) 100%);
  background: -webkit-linear-gradient(left,  rgba(114, 137, 218,1 ) 0%,rgba(153, 170, 181, 1) 100%);
  background: linear-gradient(to right,  rgba(114, 137, 218,1 ) 0%,rgba(153, 170, 181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7289da', endColorstr='#99aab5',GradientType=1 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}