<div class="error">
  <div>
    <a
      href="https://discord.com/api/oauth2/authorize?client_id=781249473879605248&permissions=1073744960&redirect_uri=https%3A%2F%2Fuwumoji.herokuapp.com%2Fcallback&scope=bot"
    >
      <img class="err-img" src="../img/broken-heart-1.png" />
      <div class="err-text">Click here to add UwuMoji to your Server!</div>
    </a>
  </div>
</div>
